In [1]:
import pandas as pd

In [128]:
df_2017 = pd.read_csv('MERGED2017_18_PP.csv', low_memory = False)
df_2017

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INC3_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop columns which have all NaN values

In [129]:
df_2017 = df_2017.dropna(axis=1, how='all')

In [130]:
df_2017.describe()

,UNITID,OPEID,OPEID6,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,...,OMACHT8_PELL_FTNFT,OMAWDP8_PELL_FTNFT,OMENRYP8_PELL_FTNFT,OMENRAP8_PELL_FTNFT,OMENRUP8_PELL_FTNFT,OMACHT8_PELL_PTNFT,OMAWDP8_PELL_PTNFT,OMENRYP8_PELL_PTNFT,OMENRAP8_PELL_PTNFT,OMENRUP8_PELL_PTNFT
count,7.112000e+03,7.112000e+03,7112.000000,6980.000000,7112.000000,7112.000000,7112.000000,7112.000000,7112.000000,7112.000000,...,3973.000000,3612.000000,3612.000000,3612.000000,3612.000000,3973.000000,2890.000000,2890.000000,2890.000000,2890.000000
mean,1.867121e+06,1.866750e+06,16755.217660,1.923209,0.767717,3.883155,1.834364,2.233830,2.129218,29.103487,...,222.102693,0.529423,0.008660,0.187584,0.274333,126.872892,0.399595,0.016564,0.220981,0.362859
std,6.958737e+06,3.315240e+06,14589.294487,0.898395,0.422319,9.088975,1.057806,1.340925,0.834518,16.739544,...,926.777723,0.222330,0.033822,0.167890,0.204011,509.133647,0.238595,0.065315,0.192955,0.246433
min,1.006540e+05,1.002000e+05,1002.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.740728e+05,3.229750e+05,3224.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,13.000000,...,19.000000,0.368700,0.000000,0.021075,0.125000,0.000000,0.239150,0.000000,0.025650,0.192225
50%,2.289995e+05,1.056050e+06,10542.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,29.000000,...,69.000000,0.523800,0.000000,0.179500,0.240300,16.000000,0.371150,0.000000,0.214300,0.333300
75%,4.506005e+05,3.025825e+06,30106.000000,3.000000,1.000000,2.000000,3.000000,4.000000,3.000000,42.000000,...,207.000000,0.679300,0.008925,0.291325,0.375000,80.000000,0.536975,0.015400,0.333300,0.500000
max,4.900540e+07,8.209884e+07,42698.000000,3.000000,1.000000,73.000000,4.000000,4.000000,3.000000,78.000000,...,48177.000000,1.000000,0.750000,1.000000,1.000000,20809.000000,1.000000,1.000000,1.000000,1.000000

Limit to columns which have some arbitrary amount of Nulls (which can reasonably be handled) - discuss as a group
I think it might be interesting to use the tool mentioned in class today so we don't have to manually do these things

In [131]:
nones = df_2017.isna().sum(axis = 0)
# size of all columns after removing first set
print(len(zeros.index.tolist()))
# size where we're enforcing the amount of NAs
print(len(nones[nones<500].index.tolist()))
print(len(nones[nones<250].index.tolist()))
print(len(nones[nones<140].index.tolist()))
print(len(nones[nones<135].index.tolist()))
print(len(nones[nones<130].index.tolist()))

1689
1365
1126
1126
1096
115

Can restrict columns to the ones we want to deal with. For now <130 to make it easy to visually inspect

In [132]:
# limited_df = df_2020[nones[nones<140].index.tolist()]

In [133]:
# limited_df.columns.tolist()

In [134]:
privacy_suppressed = limited_df.isin(["PrivacySuppressed"]).sum(axis = 0)
pd.DataFrame(privacy_suppressed[privacy_suppressed<3000]) # arbitrary - roughly half of the original schools listed

                            0
UNITID                      0
OPEID                       0
OPEID6                      0
INSTNM                      0
CITY                        0
...                       ...
BBRR1_FED_UGCOMP_N       1587
BBRR1_FED_UGCOMP_FBR     2739
BBRR1_FED_UGCOMP_NOPROG  2587
BBRR1_FED_UGNOCOMP_N     2944
BBRR1_PP_UG_N            2923

[178 rows x 1 columns]

In [136]:
privacy_suppressed[privacy_suppressed<3000].index.tolist()

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'SCH_DEG',
 'MAIN',
 'NUMBRANCH',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'ST_FIPS',
 'REGION',
 'COMP_ORIG_YR2_RT',
 'WDRAW_ORIG_YR2_RT',
 'LO_INC_COMP_ORIG_YR2_RT',
 'LO_INC_WDRAW_ORIG_YR2_RT',
 'DEP_COMP_ORIG_YR2_RT',
 'IND_COMP_ORIG_YR2_RT',
 'COMP_ORIG_YR3_RT',
 'WDRAW_ORIG_YR3_RT',
 'WDRAW_2YR_TRANS_YR3_RT',
 'LO_INC_COMP_ORIG_YR3_RT',
 'LO_INC_WDRAW_ORIG_YR3_RT',
 'DEP_COMP_ORIG_YR3_RT',
 'IND_COMP_ORIG_YR3_RT',
 'FEMALE_COMP_ORIG_YR3_RT',
 'MALE_COMP_ORIG_YR3_RT',
 'FIRSTGEN_COMP_ORIG_YR3_RT',
 'NOT1STGEN_COMP_ORIG_YR3_RT',
 'COMP_ORIG_YR4_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR4_RT',
 'DEP_COMP_ORIG_YR4_RT',
 'IND_COMP_ORIG_YR4_RT',
 'FEMALE_COMP_ORIG_YR4_RT',
 'MALE_COMP_ORIG_YR4_RT',
 'FIRSTGEN_COMP_ORIG_YR4_RT',
 'NOT1STGEN_COMP_ORIG_YR4_RT',
 'COMP_ORIG_YR6_RT',
 'COMP_2YR_TRANS_YR6_RT',
 'WDRAW_ORIG_YR6_RT',
 'WDRAW_2YR_TRANS_YR6_RT',
 'LO_INC_COMP_ORIG_YR6_RT',
 'DEP_COMP_ORIG_YR6_RT',
 'IND_COMP_ORIG_YR6_RT',
 'FEMALE_COMP_ORIG_YR6_RT',
 'MALE_COMP_ORIG_YR6_RT',
 'FIRSTGEN_COMP_ORIG_YR6_RT',
 'NOT1STGEN_COMP_ORIG_YR6_RT',
 'COMP_ORIG_YR8_RT',
 'COMP_2YR_TRANS_YR8_RT',
 'WDRAW_ORIG_YR8_RT',
 'WDRAW_4YR_TRANS_YR8_RT',
 'WDRAW_2YR_TRANS_YR8_RT',
 'UNKN_ORIG_YR8_RT',
 'LO_INC_COMP_ORIG_YR8_RT',
 'DEP_COMP_ORIG_YR8_RT',
 'IND_COMP_ORIG_YR8_RT',
 'FEMALE_COMP_ORIG_YR8_RT',
 'MALE_COMP_ORIG_YR8_RT',
 'OVERALL_YR2_N',
 'LO_INC_YR2_N',
 'MD_INC_YR2_N',
 'HI_INC_YR2_N',
 'DEP_YR2_N',
 'IND_YR2_N',
 'FEMALE_YR2_N',
 'MALE_YR2_N',
 'PELL_YR2_N',
 'NOPELL_YR2_N',
 'LOAN_YR2_N',
 'NOLOAN_YR2_N',
 'FIRSTGEN_YR2_N',
 'NOT1STGEN_YR2_N',
 'OVERALL_YR3_N',
 'LO_INC_YR3_N',
 'MD_INC_YR3_N',
 'HI_INC_YR3_N',
 'DEP_YR3_N',
 'IND_YR3_N',
 'FEMALE_YR3_N',
 'MALE_YR3_N',
 'PELL_YR3_N',
 'NOPELL_YR3_N',
 'LOAN_YR3_N',
 'NOLOAN_YR3_N',
 'FIRSTGEN_YR3_N',
 'NOT1STGEN_YR3_N',
 'OVERALL_YR4_N',
 'LO_INC_YR4_N',
 'MD_INC_YR4_N',
 'HI_INC_YR4_N',
 'DEP_YR4_N',
 'IND_YR4_N',
 'FEMALE_YR4_N',
 'MALE_YR4_N',
 'PELL_YR4_N',
 'NOPELL_YR4_N',
 'LOAN_YR4_N',
 'NOLOAN_YR4_N',
 'FIRSTGEN_YR4_N',
 'NOT1STGEN_YR4_N',
 'OVERALL_YR6_N',
 'LO_INC_YR6_N',
 'MD_INC_YR6_N',
 'HI_INC_YR6_N',
 'DEP_YR6_N',
 'IND_YR6_N',
 'FEMALE_YR6_N',
 'MALE_YR6_N',
 'PELL_YR6_N',
 'NOPELL_YR6_N',
 'LOAN_YR6_N',
 'NOLOAN_YR6_N',
 'FIRSTGEN_YR6_N',
 'NOT1STGEN_YR6_N',
 'OVERALL_YR8_N',
 'LO_INC_YR8_N',
 'MD_INC_YR8_N',
 'HI_INC_YR8_N',
 'DEP_YR8_N',
 'IND_YR8_N',
 'FEMALE_YR8_N',
 'MALE_YR8_N',
 'PELL_YR8_N',
 'NOPELL_YR8_N',
 'LOAN_YR8_N',
 'NOLOAN_YR8_N',
 'FIRSTGEN_YR8_N',
 'NOT1STGEN_YR8_N',
 'DEBT_MDN',
 'GRAD_DEBT_MDN',
 'WDRAW_DEBT_MDN',
 'LO_INC_DEBT_MDN',
 'MD_INC_DEBT_MDN',
 'HI_INC_DEBT_MDN',
 'DEP_DEBT_MDN',
 'IND_DEBT_MDN',
 'PELL_DEBT_MDN',
 'NOPELL_DEBT_MDN',
 'FEMALE_DEBT_MDN',
 'MALE_DEBT_MDN',
 'FIRSTGEN_DEBT_MDN',
 'NOTFIRSTGEN_DEBT_MDN',
 'DEBT_N',
 'GRAD_DEBT_N',
 'WDRAW_DEBT_N',
 'LO_INC_DEBT_N',
 'MD_INC_DEBT_N',
 'HI_INC_DEBT_N',
 'DEP_DEBT_N',
 'IND_DEBT_N',
 'PELL_DEBT_N',
 'NOPELL_DEBT_N',
 'FEMALE_DEBT_N',
 'MALE_DEBT_N',
 'FIRSTGEN_DEBT_N',
 'NOTFIRSTGEN_DEBT_N',
 'DEBT_MDN_SUPP',
 'GRAD_DEBT_MDN_SUPP',
 'ICLEVEL',
 'OPEFLAG',
 'BBRR1_FED_UG_N',
 'BBRR1_FED_UG_DLNQ',
 'BBRR1_FED_UG_FBR',
 'BBRR1_FED_UG_DFR',
 'BBRR1_FED_UG_NOPROG',
 'BBRR1_FED_UG_MAKEPROG',
 'BBRR1_FED_UGCOMP_N',
 'BBRR1_FED_UGCOMP_FBR',
 'BBRR1_FED_UGCOMP_NOPROG',
 'BBRR1_FED_UGNOCOMP_N',
 'BBRR1_PP_UG_N']

Maybe it's best to search for schools with the lowest values of NaN and PrivacySuppressed values? Or to limit to schools we're interested in? If this is the case, this dataset may be problematic.